<h1>The League History</h1>

<ul>
    <li>Season</li>
    {% if all_season %}
    <ul>
        {% for season in all_season %}
            <li><a href="/leaguehistory/season/{{ season.id }}/">{{ season.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>Error</h3>
    {% endif %}


    <li>Player</li>
    {% if all_player %}

    <ul>
        {% for player in all_player %}
            <li><a href="/leaguehistory/player/{{ player.id }}/">{{ player }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>Error</h3>
    {% endif %}
</ul>