<h1>{{ season }}</h1>

<p>Buy-In: ${{ season.buy_in }}</p>

<p>Payouts: </p>
    {% if payouts %}
        <table border="1">

        {% for payout in payouts %}
            <tr><td>{{ payout.description }}</td><td>{{ payout.player.first_name }} {{ payout.player.last_name }}</td><td>${{ payout.amount }}</td>
        {% endfor %}
        </table>
    {% else %}
        <h2>No Payout Information</h2>
    {% endif %}

<p>Standings: </p>
    {% if standings %}
        <table border="1">
            <tr><td>Player</td><td>Wins</td><td>Losses</td><td>Ties</td></tr>
        {% for record in standings %}
            <tr><td>{{ record.player.first_name }} {{ record.player.last_name }}</td>
                <td>{{ record.wins }}</td><td>{{ record.losses }}</td><td>{{ record.ties }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>No Standings Information</h2>
    {% endif %}
